@font-face {
font-family: 'Mechanismo Regular';
font-style: normal;
font-weight: normal;
src: local('Mechanismo Regular'), url('Mechanismo.woff') format('woff');
}

h1 {
  font-family: 'Mechanismo Regular';
  font-weight: 200;
  color: #0ccac4;
}